__pycache__/
*.py[cod]
*.sw[op]
/.vagrant
/.ropeproject
/tmp
.sass-cache
/dist
/build
/librarian.egg-info
/.coverage
/node_modules
*.log
/librarian/static/css/*
!/librarian/static/css/vendor/
/librarian/static/js/*
!/librarian/static/js/vendor/
.webassets-cache
.webassets-manifest
dev.ini
/.tox
/.cache
