include README.rst
include COPYING
include CHANGES
include conf/requirements.txt
include librarian/static/css/*.css
include librarian/static/img/*.png
include librarian/locales/**/LC_MESSAGES/*.[mp]o
include librarian/migrations/*.sql
include librarian/keys/*
include librarian/views/*.tpl
include librarian/plugins/**/views/*.tpl
include librarian/plugins/**/views/**/*.tpl
include librarian/plugins/**/static/*.*
include librarian/plugins/**/static/**/*.*
include librarian/librarian.ini
