include README.rst
include COPYING
include CHANGES
include librarian/static/css/*.css
include librarian/static/img/*.png
include librarian/locales/**/LC_MESSAGES/*.[mp]o
include librarian/migrations/*.sql
include librarian/keys/*
include librarian/views/*.tpl
include librarian/librarian.ini
