@import "dropdown";

header.menu {
  background-color: $universe;
  color: $sub;
  padding: 20px 20px 0 20px;
  text-align: justify;

  a {
    color: $sub;
    text-decoration: none;
  }

  .col {
    @include col2;
  }
  .banner {
    color: $white;
    vertical-align: middle;
    @include heading-1;
  }

  .dropdown.languages {
    display: inline-block;
    @include dropdown('dropdown_open_disabled');
    .dropdown-item {
      white-space: nowrap;
    }
    .dropdown-item .language {
      padding: 10px 20px 10px 20px;
      text-align: center;
      display: block;
    }
    .dropdown-item span.selected {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      @include with-hdpi(icons, 'checkmark_active', $include-size: yes);
    }
  }
}
