.step-datetime-form {
    position: relative;
    .flow-element {
        display: inline-block;
        margin-right: 3em;
        vertical-align: top;
        left: 90px;
        top: 0;
    }
    .flow-element:last-child {
        margin-right: 0;
    }
    .flow-element input {
        margin-top: 0;
    }
    .date-field {
        margin-bottom: 10px;
    }
    .js-error {
        display: none;
    }
    label {
        width: 90px;
        display: inline-block;
    }
    #noscript-picker {
        display: inline-block;
        vertical-align: top;
    }
    .pika-table tr {
        border: 0 none;
    }
    .timezone-container {
        display: inline-block;
        vertical-align: top;
        select {
            display:block;
            width: 220px;
            margin-bottom: 10px;
        }
    }
}

.step-superuser-form {
    label {
        width: 150px;
        display: inline-block;
        text-align: right;
    }
}
