.app-list {
  padding: 2em;

  li {
    display: inline-block;
    text-align: center;
    clear: right;
    list-style: none;
    margin-bottom: 2em;
    vertical-align: top;
  }

  .app-icon {
    display: inline-block;
    width: 128px;
    height: 128px;
    overflow: hidden;
  }

  .app-version,
  .app-title,
  .app-description {
    display: block;
  }

  .app-title {
    font-weight: bold;
  }
}

