.content-list {
  padding: 0;

  li {
    text-align: left;
    padding: 0;
    margin: 0 0 2em;
    list-style: none;
    position: relative;
    clear: both;

    .thumbnail {
      width: 100px;
      height: 100px;
      float: left;
      position: relative;
      overflow: hidden;
      @include border-radius(50px);
      background: $light-grey;

      .a {
        display: inline-block;
        position: absolute;
        top: 50%;
        margin-top: -50%;
      }

      .thumb-image {
        display: inline-block;
        width: 100%;
      }

      @include phone-portrait-wide {
        width: 64px;
        height: 64px;
      }
    }

    .details {
      margin-left: 120px;

      @include phone-portrait-wide {
        margin-left: 0;
      }
    }

    h2 {
      border: 0;
      font-size: 150%;
      line-height: 100%;
      font-weight: normal;
      margin: 0.4em 0;

      @include phone-portrait-wide {
        clear: left;
        font-size: 120%;
      }
      
      a {
        color: $dark-grey;
        display: inline-block;

        span {
          display: inline-block;
          padding: 1em;
        }

        &:hover, &:focus {
          color: $blue;
          text-decoration: none;
        }
      }
    }

    .label {
      margin-bottom: 0;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 80%;
      letter-spacing: 0.1em;

      @include phone-portrait-wide {
        margin-left: 80px;
        position: relative;
        top: 3em;
        line-height: 140%;
      }

      .label-archive {
        vertical-align: middle;
        display: inline-block;
        padding: 0 0.3em;
        letter-spacing: 0;
        color: $white;
      }

      .label-core {
        background: $ash-blue;
      }

      .label-sponsored {
        background: $orange;
      }

      .label-partner {
        background: $green;
      }
    }

    .attrib {
      text-transform: none;
      font-style: italic;
      color: $grey;
      letter-spacing: 0;
    }

    img {
      width: 100%;
    }

    .delete-button button {
      position: absolute;
      top: 3px;
      right: 3px;
      padding: 3px;
      background-color: $light-grey;
      opacity: 0.5;
      @include border-radius(image-width('icons/1x/delete.png'));

      @include phone-portrait-wide {
        top: 0;
        right: 0;
        opacity: 1;
        @include button($red, $white, $blue, $white);
        padding: 4px 7px 7px;
        line-height: 100%;

        .altlabel:after {
          content: "\00d7";  // &times entity
          display: inline;
          color: $white;
        }

        .fulllabel {
          display: none;
        }
      }

      .icon {
        @include icon('delete');
        @include hide-text;

        @include phone-portrait-wide {
          text-indent: 0;
          background: transparent;
          width: auto;
          height: auto;
        }
      }

      &:hover, &:focus {
        opacity: 1;
      }
    }
  }

  .badges, .tags {
    display: inline-block;
  }
}

.loading, .end {
  font-size: 200%;
  color: $grey;
  text-align: center;
  padding: 2em 0;

  @include phone-portrait-narrow {
    padding: 0;
    font-size: 100%;

    button {
      font-size: 100%;
      width: 100%;
    }
  }
}

#to-top {
  position: fixed;
  z-index: 2;
  bottom: 1em;
  right: 1em;

  a {
    display: inline-block;
    background: transparentize($black, 0.2);
    border: 1px solid $black;
    color: $blue;
    padding: 1em;
    text-transform: uppercase;
    font-size: 90%;
    @include border-radius(2px);
  }
}

