.content-list {
  padding-top: 1em;

  li {
    text-align: left;
    padding: 0;
    margin: 0 0 2em;
    list-style: none;
    position: relative;
    clear: both;

    .thumbnail {
      width: 100px;
      height: 100px;
      float: left;
      position: relative;
      overflow: hidden;

      .a {
        display: inline-block;
        position: absolute;
        top: 50%;
        margin-top: -50%;
      }

      .thumb-image {
        display: inline-block;
        width: 100%;
      }
    }

    .details {
      margin-left: 120px;
    }

    h2 {
      border: 0;
      font-size: 150%;
      line-height: 100%;
      font-weight: normal;
      margin: 0.4em 0;
      
      a {
        color: $dark-grey;
        display: inline-block;

        span {
          display: inline-block;
          padding: 1em;
        }

        &:hover, &:focus {
          color: $blue;
          text-decoration: none;
        }
      }
    }

    .label {
      margin-bottom: 0;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 80%;

      .label-core {
        color: $ash-blue;
      }

      .label-sponsored {
        color: $orange;
      }

      .label-partner {
        color: $green;
      }
    }

    .attrib {
      text-transform: none;
      font-style: italic;
      color: $grey;
      letter-spacing: 0;
    }

    img {
      width: 100%;
    }

    .delete-button button {
      position: absolute;
      top: 3px;
      right: 3px;
      @include replace-text-with-dimensions('delete.png');
      background-position: center center;
      @include button-color($light-grey, $white, $white, $black);
      @include border-radius(image-height('delete.png'));
      padding: 1em;
      @include default-shadow;
      opacity: 0.5;

      &:hover, &:focus {
        opacity: 1;
      }
    }
  }

  .badges, .tags {
    display: inline-block;
  }
}

.loading, .end {
  font-size: 200%;
  color: $grey;
  text-align: center;
  padding: 2em 0;
}

#to-top {
  position: fixed;
  z-index: 2;
  bottom: 1em;
  right: 1em;

  a {
    display: inline-block;
    background: transparentize($black, 0.2);
    border: 1px solid $black;
    color: $blue;
    padding: 1em;
    text-transform: uppercase;
    font-size: 90%;
    @include border-radius(2px);
  }
}

