.file-list {
  padding: 1em;

  .location-bar {
    p {
      margin: 0;
    }

    input {
      @include flat-right;

      @include narrower-than($phone-portrait-narrow) {
        min-width: 160px;
        width: 160px;
      }
    }

    button {
      @include flat-left;
    }

    padding-bottom: 0.5em;
    border-bottom: 1px solid $light-grey;
  }

  ul {
    margin: 0;
    font-size: 120%;
  }

  a {
    display: inline-block;
    color: $black;
  }

  li {
    padding-left: 0;
    margin-bottom: 0.4em;
  }

  td.icon {
    width: 16px;
    padding-left: 0;
    padding-right: 0;
  }

  .up span.icon {
    @include icon('folder_up');
  }

  .dir span.icon {
    @include icon('folder');
  }

  .file span.icon {
    @include icon('file');
  }

  .size {
    width: 100px;
  }

  .delete {
    width: 60px;
  }

  .rename {
    width: 220px;
    white-space: nowrap;

    input {
      @include flat-right;
    }

    button {
      @include flat-left;
    }
  }

  .execute {
    width: 60px;
  }

  pre {
    padding: 0;
    font-family: monospace;
    margin-bottom: 1em;
  }

  @include narrower-than($phone-portrait-wide) {
    .name {
      display: block;
      font-weight: bold;
    }

    table {
      overflow: hidden;
    }

    tr {
      display: block;
      margin-bottom: 1em;
    }

    td {
      display: block;
      width: auto;
    }

    .rename input {
      min-width: 60px;
      width: 80px;
    }
  }

}
