.flow-element {
    display: inline-block;
    margin-right: 3em;
    vertical-align: top;
}
.flow-element:last-child {
    margin-right: 0;
}
.flow-element input {
    margin-top: 0;
}
input[type="text"].time {
    width: 18px;
    min-width: 18px;
}
input[type="text"].year {
    width: 36px;
    min-width: 36px;
}
.pika-table tr {
    border: 0 none;
}
