.data .tag,
.tag-cloud .tag {
  @include button;
  @include button-small;
  @include button-color($light-grey, $black, $blue, $white);
}

.tag-cloud .tag-count {
  display: inline-block;
  background: $white;
  color: $black;
  width: 22px;
  height: 22px;
  text-align: center;
  @include border-radius(18px);
  margin-left: 0.2em;
  font-weight: normal;
}

.tag-cloud .tag, 
.tag-cloud .tag-current {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.tag-cloud .tag-current {
  @include button;
  @include button-small;
  background: $ash-blue;
  color: $light-grey;
}
