/* line 5, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
/* line 103, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * _colors.scss: color definitions
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _colors.scss: color definitions
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 16, ../scss/outernet/partial/_fonts.scss */
body {
  font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  font-size: 16px;
  line-height: 137.5%;
  color: #555555; }

/* line 22, ../scss/outernet/partial/_fonts.scss */
h1.first, h2.first, h3.first, h4.first, h5.first, h6.first {
  margin-top: 0; }

/* line 27, ../scss/outernet/partial/_fonts.scss */
h1 {
  font-size: 175%;
  line-height: 125%;
  margin-top: 1em;
  margin-bottom: 16px; }

/* line 32, ../scss/outernet/partial/_fonts.scss */
h2 {
  font-size: 162.5%;
  line-height: 123%;
  margin-top: 1em;
  margin-bottom: 16px; }

/* line 37, ../scss/outernet/partial/_fonts.scss */
h3 {
  font-size: 150%;
  line-height: 125%;
  margin-top: 1em;
  margin-bottom: 16px; }

/* line 42, ../scss/outernet/partial/_fonts.scss */
h4 {
  font-size: 137.5%;
  line-height: 127%;
  margin-top: 1em;
  margin-bottom: 16px; }

/* line 47, ../scss/outernet/partial/_fonts.scss */
h5 {
  font-size: 125%;
  line-height: 130%;
  margin-top: 1em;
  margin-bottom: 16px; }

/* line 52, ../scss/outernet/partial/_fonts.scss */
h6 {
  font-size: 112.5%;
  line-height: 116%;
  margin-top: 1em;
  margin-bottom: 16px; }

/* line 57, ../scss/outernet/partial/_fonts.scss */
p {
  margin-bottom: 1em; }

/* line 61, ../scss/outernet/partial/_fonts.scss */
b, strong {
  font-weight: bold; }

/* line 65, ../scss/outernet/partial/_fonts.scss */
i, em {
  font-style: italic; }

/* line 69, ../scss/outernet/partial/_fonts.scss */
pre {
  overflow: hidden;
  margin-bottom: 1em;
  background: #dddddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0.4em; }
/* line 76, ../scss/outernet/partial/_fonts.scss */
pre:hover {
  overflow: visible;
  position: relative;
  z-index: 1000; }

/* line 83, ../scss/outernet/partial/_fonts.scss */
code {
  display: inline-block;
  font-family: monospace;
  background: #dddddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0 0.4em;
  font-size: 80%; }

/* line 92, ../scss/outernet/partial/_fonts.scss */
ul.bullets {
  margin-bottom: 1em; }
/* line 95, ../scss/outernet/partial/_fonts.scss */
ul.bullets li {
  list-style: disc;
  margin-left: 1em; }

/**
 * _hyperlinks.scss: link styling
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _hyperlinks.scss: link styling
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _colors.scss: color definitions
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 14, ../scss/outernet/partial/_hyperlinks.scss */
a {
  text-decoration: none;
  cursor: pointer;
  color: #3584cf; }
/* line 24, ../scss/outernet/mixins/_hyperlinks.scss */
a:hover {
  text-decoration: underline; }
/* line 36, ../scss/outernet/mixins/_hyperlinks.scss */
a:visited {
  color: #28639b; }

/**
 * _tables.scss: table and table cell content styling
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _buttons.scss: button styling
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _colors.scss: color definitions
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _media_query.scss: media query support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _forms.scss: form control definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _colors.scss: color definitions
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _hdpi_images.scss: helpers for high-dpi display support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _tables.scss: table and table cell content styling
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 17, ../scss/outernet/partial/_tables.scss */
table {
  width: 100%;
  table-layout: fixed; }
/* line 32, ../scss/outernet/mixins/_tables.scss */
table th {
  font-weight: bold; }
/* line 36, ../scss/outernet/mixins/_tables.scss */
table tbody tr {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd; }
/* line 39, ../scss/outernet/mixins/_tables.scss */
table tbody tr:hover {
  background: #fafafa; }
/* line 44, ../scss/outernet/mixins/_tables.scss */
table th, table td {
  vertical-align: middle;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 9px;
  padding-bottom: 9px;
  height: 32px; }
/* line 47, ../scss/outernet/mixins/_tables.scss */
table th:nth-child(1), table td:nth-child(1) {
  padding-left: 20px; }
/* line 51, ../scss/outernet/mixins/_tables.scss */
table th:last-child, table td:last-child {
  padding-right: 20px; }
/* line 20, ../scss/outernet/partial/_tables.scss */
table p {
  margin: 0; }
/* line 24, ../scss/outernet/partial/_tables.scss */
table button, table .button {
  font-size: 87.5%;
  line-height: 137.5%;
  line-height: 100%;
  width: auto;
  min-width: 0;
  height: 24px; }
/* line 29, ../scss/outernet/partial/_tables.scss */
table input[type="text"], table input[type="numeric"], table input[type="email"], table input[type="file"], table input[type="password"], table select {
  padding: 2px 7.5px 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: auto;
  max-width: 100%;
  font-size: 87.5%;
  line-height: 137.5%; }
/* line 75, ../scss/outernet/mixins/_forms.scss */
table input[type="text"]:focus, table input[type="numeric"]:focus, table input[type="email"]:focus, table input[type="file"]:focus, table input[type="password"]:focus, table select:focus {
  font-size: 87.5%;
  line-height: 137.5%; }
/* line 39, ../scss/outernet/partial/_tables.scss */
table form {
  display: inline-block;
  border: 1px solid #dddddd;
  background: #fafafa;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  padding: 2px;
  position: relative;
  white-space: nowrap; }
/* line 200, ../scss/outernet/mixins/_forms.scss */
table form input[type="text"], table form input[type="numeric"], table form input[type="email"], table form input[type="file"], table form input[type="password"] {
  display: inline-block;
  max-width: none;
  border: 0;
  background-color: transparent;
  vertical-align: middle;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px; }
/* line 212, ../scss/outernet/mixins/_forms.scss */
table form input[type="text"]:focus, table form input[type="numeric"]:focus, table form input[type="email"]:focus, table form input[type="file"]:focus, table form input[type="password"]:focus {
  background-color: #f3f8fc; }
/* line 178, ../scss/outernet/mixins/_forms.scss */
table form input[type="text"], table form input[type="numeric"], table form input[type="email"], table form input[type="file"], table form input[type="password"] {
  width: 100px; }
/* line 220, ../scss/outernet/mixins/_forms.scss */
table form label {
  display: inline-block;
  padding-bottom: 0;
  margin-right: 0.5em;
  vertical-align: middle; }
/* line 227, ../scss/outernet/mixins/_forms.scss */
table form button {
  display: inline-block; }
/* line 235, ../scss/outernet/mixins/_forms.scss */
table form label {
  font-size: 87.5%;
  line-height: 137.5%; }
/* line 239, ../scss/outernet/mixins/_forms.scss */
table form input[type="text"], table form input[type="numeric"], table form input[type="email"], table form input[type="file"], table form input[type="password"] {
  padding: 2px 7.5px 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: auto;
  max-width: 100%;
  font-size: 87.5%;
  line-height: 137.5%;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px; }
/* line 75, ../scss/outernet/mixins/_forms.scss */
table form input[type="text"]:focus, table form input[type="numeric"]:focus, table form input[type="email"]:focus, table form input[type="file"]:focus, table form input[type="password"]:focus {
  font-size: 87.5%;
  line-height: 137.5%; }
/* line 178, ../scss/outernet/mixins/_forms.scss */
table form input[type="text"], table form input[type="numeric"], table form input[type="email"], table form input[type="file"], table form input[type="password"] {
  width: 100px; }
/* line 251, ../scss/outernet/mixins/_forms.scss */
table form button {
  width: auto;
  min-width: 0;
  height: 24px;
  font-size: 87.5%;
  line-height: 137.5%;
  line-height: 100%; }

/**
 * _media_query.scss: media query support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 8, ../scss/content.scss */
html {
  background: #bbbbbb;
  padding: 2em; }
@media only screen and (max-width: 640px) {
  /* line 8, ../scss/content.scss */
  html {
    padding: 0; } }

/* line 17, ../scss/content.scss */
body {
  background: #ffffff;
  padding: 2em;
  max-width: 50em;
  margin: 0 auto;
  border: 1px solid #dddddd; }
@media only screen and (max-width: 640px) {
  /* line 17, ../scss/content.scss */
  body {
    padding: 20px;
    border: none; } }

/* line 30, ../scss/content.scss */
img {
  max-width: 100%;
  width: auto !important;
  height: auto !important; }
