/**
 * This module contains base variables that are used to re-skin (customize) the 
 * Librarian UI toolkit.
 *
 * Recommended way to customize the variables is to load a separate module 
 * containing customized values _before_ this module.
 */
/* line 6, ../../../src/scss/file_list.scss */
.file-list .file-list-item {
  padding: 1rem;
  background: white;
  border-bottom: 1px solid #ddd;
}
/* line 14, ../../../src/scss/file_list.scss */
.file-list .file-list-item:last-child {
  border-bottom: 0;
  -moz-border-radius-bottomleft: 0.3rem;
  -webkit-border-bottom-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  -moz-border-radius-bottomright: 0.3rem;
  -webkit-border-bottom-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
/* line 20, ../../../src/scss/file_list.scss */
.file-list .file-list-item:first-child {
  -moz-border-radius-topleft: 0.3rem;
  -webkit-border-top-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  -moz-border-radius-topright: 0.3rem;
  -webkit-border-top-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
/* line 25, ../../../src/scss/file_list.scss */
.file-list .file-list-item .file-list-icon {
  display: inline-block;
  width: 32px;
  vertical-align: middle;
  font-size: 180%;
}
/* line 34, ../../../src/scss/file_list.scss */
.file-list .file-list-item .file-list-icon img {
  width: 32px;
  height: 32px;
}
/* line 40, ../../../src/scss/file_list.scss */
.file-list .file-list-item a {
  font-size: 120%;
  text-decoration: none;
  color: #333;
}
/* line 48, ../../../src/scss/file_list.scss */
.file-list .file-list-item a:hover, .file-list .file-list-item a:focus {
  color: #089bd2;
}
/* line 55, ../../../src/scss/file_list.scss */
.file-list .file-list-description {
  font-style: italic;
  margin: 0;
  margin-left: 38px;
}
