/* line 5, ../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
/* line 103, ../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, ../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * _colors.scss: color definitions
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _grid.scss: simple grid system
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _forms.scss: form control definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _colors.scss: color definitions
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _hdpi_images.scss: helpers for high-dpi display support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _tables.scss: table and table cell content styling
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _media_query.scss: media query support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _sprites.scss: sprite images with high-dpi display support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _hdpi_images.scss: helpers for high-dpi display support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 14, ../scss/outernet/partial/_fonts.scss */
body {
  font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  font-size: 16px;
  line-height: 137.5%;
  color: #555555; }

/* line 20, ../scss/outernet/partial/_fonts.scss */
h1.first, h2.first, h3.first, h4.first, h5.first, h6.first {
  margin-top: 0; }

/* line 25, ../scss/outernet/partial/_fonts.scss */
h1 {
  font-size: 175%;
  line-height: 125%;
  margin-top: 1em;
  margin-bottom: 16px; }

/* line 30, ../scss/outernet/partial/_fonts.scss */
h2 {
  font-size: 162.5%;
  line-height: 123%;
  margin-top: 1em;
  margin-bottom: 16px; }

/* line 35, ../scss/outernet/partial/_fonts.scss */
h3 {
  font-size: 150%;
  line-height: 125%;
  margin-top: 1em;
  margin-bottom: 16px; }

/* line 40, ../scss/outernet/partial/_fonts.scss */
h4 {
  font-size: 137.5%;
  line-height: 127%;
  margin-top: 1em;
  margin-bottom: 16px; }

/* line 45, ../scss/outernet/partial/_fonts.scss */
h5 {
  font-size: 125%;
  line-height: 130%;
  margin-top: 1em;
  margin-bottom: 16px; }

/* line 50, ../scss/outernet/partial/_fonts.scss */
h6 {
  font-size: 112.5%;
  line-height: 116%;
  margin-top: 1em;
  margin-bottom: 16px; }

/* line 55, ../scss/outernet/partial/_fonts.scss */
p {
  margin-bottom: 1em; }

/* line 59, ../scss/outernet/partial/_fonts.scss */
b, strong {
  font-weight: bold; }

/* line 63, ../scss/outernet/partial/_fonts.scss */
i, em {
  font-style: italic; }

/* line 67, ../scss/outernet/partial/_fonts.scss */
pre {
  overflow: hidden;
  margin-bottom: 1em;
  background: #dddddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0.4em; }
/* line 74, ../scss/outernet/partial/_fonts.scss */
pre:hover {
  overflow: visible;
  position: relative;
  z-index: 1000; }

/* line 81, ../scss/outernet/partial/_fonts.scss */
code {
  display: inline-block;
  font-family: monospace;
  background: #dddddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0 0.4em;
  font-size: 80%; }

/* line 90, ../scss/outernet/partial/_fonts.scss */
ul.bullets {
  margin-bottom: 1em; }
/* line 93, ../scss/outernet/partial/_fonts.scss */
ul.bullets li {
  list-style: disc;
  margin-left: 1em; }

/**
 * _buttons.scss: button styling
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _buttons.scss: button styling
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _colors.scss: color definitions
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _media_query.scss: media query support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 14, ../scss/outernet/partial/_buttons.scss */
button, .button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid transparent;
  font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  font-size: 16px;
  line-height: 137.5%;
  line-height: 100%;
  padding: 0.6em 20px;
  width: auto;
  min-width: 170px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  color: #ffffff;
  background-color: #3584cf;
  border-color: #3584cf; }
@media only screen and (max-width: 320px) {
  /* line 14, ../scss/outernet/partial/_buttons.scss */
  button, .button {
    width: 100%; } }
/* line 49, ../scss/outernet/mixins/_buttons.scss */
button:focus, button:hover, .button:focus, .button:hover {
  color: #ffffff;
  background-color: #28639b;
  border-color: #28639b; }
/* line 18, ../scss/outernet/partial/_buttons.scss */
button.small, .button.small {
  font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  font-size: 16px;
  line-height: 137.5%;
  font-size: 87.5%;
  line-height: 137.5%;
  line-height: 100%;
  padding: 0.2em 20px;
  width: auto;
  min-width: 0; }
/* line 23, ../scss/outernet/partial/_buttons.scss */
button.secondary, .button.secondary {
  color: #3584cf;
  background-color: transparent;
  border-color: #3584cf; }
/* line 49, ../scss/outernet/mixins/_buttons.scss */
button.secondary:focus, button.secondary:hover, .button.secondary:focus, .button.secondary:hover {
  color: #ffffff;
  background-color: #28639b;
  border-color: #28639b; }
/* line 27, ../scss/outernet/partial/_buttons.scss */
button.cta, .button.cta {
  color: #ffffff;
  background-color: #e17502;
  border-color: #e17502; }
/* line 49, ../scss/outernet/mixins/_buttons.scss */
button.cta:focus, button.cta:hover, .button.cta:focus, .button.cta:hover {
  color: #ffffff;
  background-color: #a95902;
  border-color: #a95902; }
/* line 30, ../scss/outernet/partial/_buttons.scss */
button.cta.secondary, .button.cta.secondary {
  color: #e17502;
  background-color: transparent;
  border-color: #e17502; }
/* line 49, ../scss/outernet/mixins/_buttons.scss */
button.cta.secondary:focus, button.cta.secondary:hover, .button.cta.secondary:focus, .button.cta.secondary:hover {
  color: #ffffff;
  background-color: #a95902;
  border-color: #a95902; }
/* line 35, ../scss/outernet/partial/_buttons.scss */
button.delete, .button.delete {
  color: #ffffff;
  background-color: #c41414;
  border-color: #c41414; }
/* line 49, ../scss/outernet/mixins/_buttons.scss */
button.delete:focus, button.delete:hover, .button.delete:focus, .button.delete:hover {
  color: #ffffff;
  background-color: #931010;
  border-color: #931010; }
/* line 38, ../scss/outernet/partial/_buttons.scss */
button.delete.secondary, .button.delete.secondary {
  color: #c41414;
  background-color: transparent;
  border-color: #c41414; }
/* line 49, ../scss/outernet/mixins/_buttons.scss */
button.delete.secondary:focus, button.delete.secondary:hover, .button.delete.secondary:focus, .button.delete.secondary:hover {
  color: #ffffff;
  background-color: #931010;
  border-color: #931010; }
/* line 43, ../scss/outernet/partial/_buttons.scss */
button.confirm, .button.confirm {
  color: #ffffff;
  background-color: #058120;
  border-color: #058120; }
/* line 49, ../scss/outernet/mixins/_buttons.scss */
button.confirm:focus, button.confirm:hover, .button.confirm:focus, .button.confirm:hover {
  color: #ffffff;
  background-color: #056118;
  border-color: #056118; }
/* line 46, ../scss/outernet/partial/_buttons.scss */
button.confirm.secondary, .button.confirm.secondary {
  color: #058120;
  background-color: transparent;
  border-color: #058120; }
/* line 49, ../scss/outernet/mixins/_buttons.scss */
button.confirm.secondary:focus, button.confirm.secondary:hover, .button.confirm.secondary:focus, .button.confirm.secondary:hover {
  color: #ffffff;
  background-color: #056118;
  border-color: #056118; }
/* line 51, ../scss/outernet/partial/_buttons.scss */
button.reverse, .button.reverse {
  color: #3584cf;
  background-color: #ffffff;
  border-color: #ffffff; }
/* line 49, ../scss/outernet/mixins/_buttons.scss */
button.reverse:focus, button.reverse:hover, .button.reverse:focus, .button.reverse:hover {
  opacity: 0.75; }
/* line 54, ../scss/outernet/partial/_buttons.scss */
button.reverse.secondary, .button.reverse.secondary {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff; }
/* line 49, ../scss/outernet/mixins/_buttons.scss */
button.reverse.secondary:focus, button.reverse.secondary:hover, .button.reverse.secondary:focus, .button.reverse.secondary:hover {
  color: #3584cf;
  background-color: #ffffff;
  border-color: #ffffff;
  opacity: 0.75; }
/* line 58, ../scss/outernet/partial/_buttons.scss */
button.reverse.cta, .button.reverse.cta {
  color: #e17502;
  background-color: #ffffff;
  border-color: #ffffff; }
/* line 49, ../scss/outernet/mixins/_buttons.scss */
button.reverse.cta:focus, button.reverse.cta:hover, .button.reverse.cta:focus, .button.reverse.cta:hover {
  opacity: 0.75; }
/* line 61, ../scss/outernet/partial/_buttons.scss */
button.reverse.cta.secondary, .button.reverse.cta.secondary {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff; }
/* line 49, ../scss/outernet/mixins/_buttons.scss */
button.reverse.cta.secondary:focus, button.reverse.cta.secondary:hover, .button.reverse.cta.secondary:focus, .button.reverse.cta.secondary:hover {
  color: #e17502;
  background-color: #ffffff;
  border-color: #ffffff;
  opacity: 0.75; }
/* line 66, ../scss/outernet/partial/_buttons.scss */
button.reverse.delete, .button.reverse.delete {
  color: #c41414;
  background-color: #ffffff;
  border-color: #ffffff; }
/* line 49, ../scss/outernet/mixins/_buttons.scss */
button.reverse.delete:focus, button.reverse.delete:hover, .button.reverse.delete:focus, .button.reverse.delete:hover {
  opacity: 0.75; }
/* line 69, ../scss/outernet/partial/_buttons.scss */
button.reverse.delete.secondary, .button.reverse.delete.secondary {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff; }
/* line 49, ../scss/outernet/mixins/_buttons.scss */
button.reverse.delete.secondary:focus, button.reverse.delete.secondary:hover, .button.reverse.delete.secondary:focus, .button.reverse.delete.secondary:hover {
  color: #c41414;
  background-color: #ffffff;
  border-color: #ffffff;
  opacity: 0.75; }
/* line 74, ../scss/outernet/partial/_buttons.scss */
button.reverse.confirm, .button.reverse.confirm {
  color: #058120;
  background-color: #ffffff;
  border-color: #ffffff; }
/* line 49, ../scss/outernet/mixins/_buttons.scss */
button.reverse.confirm:focus, button.reverse.confirm:hover, .button.reverse.confirm:focus, .button.reverse.confirm:hover {
  opacity: 0.75; }
/* line 77, ../scss/outernet/partial/_buttons.scss */
button.reverse.confirm.secondary, .button.reverse.confirm.secondary {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff; }
/* line 49, ../scss/outernet/mixins/_buttons.scss */
button.reverse.confirm.secondary:focus, button.reverse.confirm.secondary:hover, .button.reverse.confirm.secondary:focus, .button.reverse.confirm.secondary:hover {
  color: #058120;
  background-color: #ffffff;
  border-color: #ffffff;
  opacity: 0.75; }
/* line 82, ../scss/outernet/partial/_buttons.scss */
button.reverse[disabled], button.reverse.disabled, .button.reverse[disabled], .button.reverse.disabled {
  color: #bbbbbb;
  background-color: #ffffff;
  border-color: #ffffff;
  opacity: 0.5; }
/* line 89, ../scss/outernet/partial/_buttons.scss */
button[disabled], button.disabled, .button[disabled], .button.disabled {
  color: #ffffff;
  background-color: #bbbbbb;
  border-color: #bbbbbb;
  cursor: default; }
/* line 94, ../scss/outernet/partial/_buttons.scss */
button[disabled].secondary, button.disabled.secondary, .button[disabled].secondary, .button.disabled.secondary {
  color: #bbbbbb;
  background-color: transparent;
  border-color: #bbbbbb; }

/**
 * _hyperlinks.scss: link styling
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _hyperlinks.scss: link styling
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _colors.scss: color definitions
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 14, ../scss/outernet/partial/_hyperlinks.scss */
a {
  text-decoration: none;
  cursor: pointer;
  color: #3584cf; }
/* line 24, ../scss/outernet/mixins/_hyperlinks.scss */
a:hover {
  text-decoration: underline; }
/* line 36, ../scss/outernet/mixins/_hyperlinks.scss */
a:visited {
  color: #28639b; }

/**
 * _forms.scss: form control definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _forms.scss: form control definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _colors.scss: color definitions
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _hdpi_images.scss: helpers for high-dpi display support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 14, ../scss/outernet/partial/_forms.scss */
label {
  font-weight: bold;
  display: block;
  padding-left: 15px;
  padding-bottom: 4px;
  cursor: pointer; }
/* line 31, ../scss/outernet/mixins/_forms.scss */
label.required:after {
  content: '*';
  color: #c41414; }
/* line 21, ../scss/outernet/partial/_forms.scss */
input[type="checkbox"] + label, label.checkbox {
  font-style: none;
  font-weight: normal;
  display: inline-block;
  padding: 0 0 0 4px;
  line-height: 40px; }

/* line 27, ../scss/outernet/partial/_forms.scss */
input[type="text"], input[type="numeric"], input[type="email"], input[type="file"], input[type="password"], textarea, select {
  width: 100%;
  max-width: 400px;
  padding: 8px 15px 8px;
  border: 1px solid transparent;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #555555;
  background-color: #fafafa;
  border-color: #dddddd;
  outline: none;
  font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  font-size: 16px;
  line-height: 137.5%;
  -moz-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s; }
/* line 34, ../scss/outernet/partial/_forms.scss */
input[type="text"].small, input[type="numeric"].small, input[type="email"].small, input[type="file"].small, input[type="password"].small, textarea.small, select.small {
  padding: 2px 7.5px 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: auto;
  max-width: 100%;
  font-size: 87.5%;
  line-height: 137.5%; }
/* line 75, ../scss/outernet/mixins/_forms.scss */
input[type="text"].small:focus, input[type="numeric"].small:focus, input[type="email"].small:focus, input[type="file"].small:focus, input[type="password"].small:focus, textarea.small:focus, select.small:focus {
  font-size: 87.5%;
  line-height: 137.5%; }
/* line 107, ../scss/outernet/mixins/_forms.scss */
input[type="text"]:focus, input[type="numeric"]:focus, input[type="email"]:focus, input[type="file"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
  color: #555555;
  background-color: #f3f8fc;
  border-color: #cddff3;
  outline: none;
  font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  font-size: 16px;
  line-height: 137.5%;
  -moz-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s; }
/* line 41, ../scss/outernet/partial/_forms.scss */
input[type="text"].positive, input[type="numeric"].positive, input[type="email"].positive, input[type="file"].positive, input[type="password"].positive, textarea.positive, select.positive {
  color: #058120;
  background-color: #f1f8f1;
  border-color: #c1dfc7;
  outline: none;
  font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  font-size: 16px;
  line-height: 137.5%;
  -moz-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s; }
/* line 44, ../scss/outernet/partial/_forms.scss */
input[type="text"].positive:focus, input[type="numeric"].positive:focus, input[type="email"].positive:focus, input[type="file"].positive:focus, input[type="password"].positive:focus, textarea.positive:focus, select.positive:focus {
  color: #555555;
  background-color: #f3f8fc;
  border-color: #cddff3;
  outline: none;
  font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  font-size: 16px;
  line-height: 137.5%;
  -moz-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s; }
/* line 49, ../scss/outernet/partial/_forms.scss */
input[type="text"].negative, input[type="numeric"].negative, input[type="email"].negative, input[type="file"].negative, input[type="password"].negative, textarea.negative, select.negative {
  color: #c41414;
  background-color: #fbf1f0;
  border-color: #f0c4c5;
  outline: none;
  font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  font-size: 16px;
  line-height: 137.5%;
  -moz-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s; }
/* line 52, ../scss/outernet/partial/_forms.scss */
input[type="text"].negative:focus, input[type="numeric"].negative:focus, input[type="email"].negative:focus, input[type="file"].negative:focus, input[type="password"].negative:focus, textarea.negative:focus, select.negative:focus {
  color: #555555;
  background-color: #f3f8fc;
  border-color: #cddff3;
  outline: none;
  font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  font-size: 16px;
  line-height: 137.5%;
  -moz-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s; }

/* line 63, ../scss/outernet/partial/_forms.scss */
input[type="text"].positive, input[type="numeric"].positive, input[type="email"].positive, input[type="password"].positive, input[type="file"].positive {
  padding-right: 50px;
  background-position: right 12.5px top 50%;
  background-repeat: no-repeat;
  background-image: url('../img/icons/1x/form_positive.png?1433410592'); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-resolution: 120dpi), only screen and (min-resolution: 1.3dppx) {
  /* line 63, ../scss/outernet/partial/_forms.scss */
  input[type="text"].positive, input[type="numeric"].positive, input[type="email"].positive, input[type="password"].positive, input[type="file"].positive {
    background-image: url('../img/icons/2x/form_positive.png?1433406545');
    -moz-background-size: 25px, 25px;
    -o-background-size: 25px, 25px;
    -webkit-background-size: 25px, 25px;
    background-size: 25px, 25px; } }
/* line 67, ../scss/outernet/partial/_forms.scss */
input[type="text"].negative, input[type="numeric"].negative, input[type="email"].negative, input[type="password"].negative, input[type="file"].negative {
  padding-right: 50px;
  background-position: right 12.5px top 50%;
  background-repeat: no-repeat;
  background-image: url('../img/icons/1x/form_negative.png?1433410635'); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-resolution: 120dpi), only screen and (min-resolution: 1.3dppx) {
  /* line 67, ../scss/outernet/partial/_forms.scss */
  input[type="text"].negative, input[type="numeric"].negative, input[type="email"].negative, input[type="password"].negative, input[type="file"].negative {
    background-image: url('../img/icons/2x/form_negative.png?1433406692');
    -moz-background-size: 25px, 25px;
    -o-background-size: 25px, 25px;
    -webkit-background-size: 25px, 25px;
    background-size: 25px, 25px; } }

/* line 72, ../scss/outernet/partial/_forms.scss */
input[type="checkbox"] {
  margin-left: 15px;
  margin-right: -18px;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 0;
  height: 0;
  display: inline-block; }
/* line 80, ../scss/outernet/partial/_forms.scss */
input[type="checkbox"] + label:before {
  content: ' ';
  display: inline-block;
  border: 1px solid #dddddd;
  background: #fafafa;
  width: 15px;
  height: 15px;
  padding: 0.2em;
  vertical-align: middle;
  position: relative;
  margin: 0 2px 0 4.5px;
  padding: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
/* line 85, ../scss/outernet/partial/_forms.scss */
input[type="checkbox"]:checked + label {
  color: #058120; }
/* line 88, ../scss/outernet/partial/_forms.scss */
input[type="checkbox"]:checked + label:before {
  color: #058120;
  background-color: #f1f8f1;
  border-color: #c1dfc7;
  outline: none;
  font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  font-size: 16px;
  line-height: 137.5%;
  -moz-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../img/icons/1x/checkmark.png?1433442569'); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-resolution: 120dpi), only screen and (min-resolution: 1.3dppx) {
  /* line 88, ../scss/outernet/partial/_forms.scss */
  input[type="checkbox"]:checked + label:before {
    background-image: url('../img/icons/2x/checkmark.png?1433442569');
    -moz-background-size: 13px, 11px;
    -o-background-size: 13px, 11px;
    -webkit-background-size: 13px, 11px;
    background-size: 13px, 11px; } }
/* line 93, ../scss/outernet/partial/_forms.scss */
input[type="checkbox"]:focus + label {
  color: #3584cf; }
/* line 96, ../scss/outernet/partial/_forms.scss */
input[type="checkbox"]:focus + label:before {
  color: #555555;
  background-color: #f3f8fc;
  border-color: #cddff3;
  outline: none;
  font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  font-size: 16px;
  line-height: 137.5%;
  -moz-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s; }
/* line 101, ../scss/outernet/partial/_forms.scss */
input[type="checkbox"]:focus:checked + label:before {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../img/icons/1x/checkmark_active.png?1433442569'); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-resolution: 120dpi), only screen and (min-resolution: 1.3dppx) {
  /* line 101, ../scss/outernet/partial/_forms.scss */
  input[type="checkbox"]:focus:checked + label:before {
    background-image: url('../img/icons/2x/checkmark_active.png?1433442569');
    -moz-background-size: 13px, 11px;
    -o-background-size: 13px, 11px;
    -webkit-background-size: 13px, 11px;
    background-size: 13px, 11px; } }

/* line 106, ../scss/outernet/partial/_forms.scss */
textarea {
  font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  font-size: 16px;
  line-height: 137.5%;
  resize: vertical;
  height: 6.875em;
  min-height: 4.125em;
  max-height: 16.5em;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0; }

/* line 115, ../scss/outernet/partial/_forms.scss */
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 8px 15px 8px;
  text-indent: 0.01px;
  text-overflow: "";
  padding-right: 50px;
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-image: url('../img/icons/1x/dropdown_open.png?1434031134'); }
/* line 125, ../scss/outernet/mixins/_forms.scss */
select::-ms-expand {
  display: none; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-resolution: 120dpi), only screen and (min-resolution: 1.3dppx) {
  /* line 115, ../scss/outernet/partial/_forms.scss */
  select {
    background-image: url('../img/icons/2x/dropdown_open.png?1434031134');
    -moz-background-size: 25px, 25px;
    -o-background-size: 25px, 25px;
    -webkit-background-size: 25px, 25px;
    background-size: 25px, 25px; } }
/* line 123, ../scss/outernet/partial/_forms.scss */
select:hover {
  background-image: url('../img/icons/1x/dropdown_open_hover.png?1434031134'); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-resolution: 120dpi), only screen and (min-resolution: 1.3dppx) {
  /* line 123, ../scss/outernet/partial/_forms.scss */
  select:hover {
    background-image: url('../img/icons/2x/dropdown_open_hover.png?1434031134');
    -moz-background-size: 25px, 25px;
    -o-background-size: 25px, 25px;
    -webkit-background-size: 25px, 25px;
    background-size: 25px, 25px; } }
/* line 127, ../scss/outernet/partial/_forms.scss */
select option {
  color: #888888;
  background: #fafafa;
  border-radius: 2px;
  padding: 0 15px; }
/* line 137, ../scss/outernet/mixins/_forms.scss */
select option[value] {
  color: #555555; }

/* line 132, ../scss/outernet/partial/_forms.scss */
select::-ms-expand {
  display: none; }

/* line 139, ../scss/outernet/partial/_forms.scss */
.field-help {
  font-size: 87.5%;
  line-height: 137.5%;
  color: #888888;
  display: block;
  padding-left: 15px;
  padding-top: 6px; }

/* line 144, ../scss/outernet/partial/_forms.scss */
.field-error {
  font-size: 87.5%;
  line-height: 137.5%;
  color: #888888;
  display: block;
  padding-left: 15px;
  padding-top: 6px;
  color: #c41414; }

/* line 150, ../scss/outernet/partial/_forms.scss */
.form-errors {
  background: #fbf1f0;
  border: 1px solid #f0c4c5;
  padding: 15px;
  margin-bottom: 1em; }
/* line 156, ../scss/outernet/partial/_forms.scss */
.form-errors li {
  font-size: 87.5%;
  line-height: 137.5%;
  color: #888888;
  display: block;
  padding-left: 15px;
  padding-top: 6px;
  color: #c41414;
  font-weight: bold;
  padding-left: 0.2em; }

/**
 * _tables.scss: table and table cell content styling
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _buttons.scss: button styling
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _colors.scss: color definitions
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _media_query.scss: media query support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _forms.scss: form control definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _colors.scss: color definitions
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _hdpi_images.scss: helpers for high-dpi display support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _tables.scss: table and table cell content styling
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 17, ../scss/outernet/partial/_tables.scss */
table {
  width: 100%;
  table-layout: fixed; }
/* line 32, ../scss/outernet/mixins/_tables.scss */
table th {
  font-weight: bold; }
/* line 36, ../scss/outernet/mixins/_tables.scss */
table tbody tr {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd; }
/* line 39, ../scss/outernet/mixins/_tables.scss */
table tbody tr:hover {
  background: #fafafa; }
/* line 44, ../scss/outernet/mixins/_tables.scss */
table th, table td {
  vertical-align: middle;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 9px;
  padding-bottom: 9px;
  height: 32px; }
/* line 47, ../scss/outernet/mixins/_tables.scss */
table th:nth-child(1), table td:nth-child(1) {
  padding-left: 20px; }
/* line 51, ../scss/outernet/mixins/_tables.scss */
table th:last-child, table td:last-child {
  padding-right: 20px; }
/* line 20, ../scss/outernet/partial/_tables.scss */
table p {
  margin: 0; }
/* line 24, ../scss/outernet/partial/_tables.scss */
table button, table .button {
  font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  font-size: 16px;
  line-height: 137.5%;
  font-size: 87.5%;
  line-height: 137.5%;
  line-height: 100%;
  padding: 0.2em 20px;
  width: auto;
  min-width: 0; }
/* line 29, ../scss/outernet/partial/_tables.scss */
table input[type="text"], table input[type="numeric"], table input[type="email"], table input[type="file"], table input[type="password"], table select {
  padding: 2px 7.5px 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: auto;
  max-width: 100%;
  font-size: 87.5%;
  line-height: 137.5%; }
/* line 75, ../scss/outernet/mixins/_forms.scss */
table input[type="text"]:focus, table input[type="numeric"]:focus, table input[type="email"]:focus, table input[type="file"]:focus, table input[type="password"]:focus, table select:focus {
  font-size: 87.5%;
  line-height: 137.5%; }
/* line 39, ../scss/outernet/partial/_tables.scss */
table form {
  display: inline-block;
  border: 1px solid #dddddd;
  background: #fafafa;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  padding: 2px;
  position: relative;
  white-space: nowrap; }
/* line 200, ../scss/outernet/mixins/_forms.scss */
table form input[type="text"], table form input[type="numeric"], table form input[type="email"], table form input[type="file"], table form input[type="password"] {
  display: inline-block;
  max-width: none;
  border: 0;
  background-color: transparent;
  vertical-align: middle;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px; }
/* line 212, ../scss/outernet/mixins/_forms.scss */
table form input[type="text"]:focus, table form input[type="numeric"]:focus, table form input[type="email"]:focus, table form input[type="file"]:focus, table form input[type="password"]:focus {
  background-color: #f3f8fc; }
/* line 178, ../scss/outernet/mixins/_forms.scss */
table form input[type="text"], table form input[type="numeric"], table form input[type="email"], table form input[type="file"], table form input[type="password"] {
  width: 100px; }
/* line 220, ../scss/outernet/mixins/_forms.scss */
table form label {
  display: inline-block;
  padding-bottom: 0;
  margin-right: 0.5em;
  vertical-align: middle; }
/* line 227, ../scss/outernet/mixins/_forms.scss */
table form button {
  display: inline-block; }
/* line 235, ../scss/outernet/mixins/_forms.scss */
table form label {
  font-size: 87.5%;
  line-height: 137.5%; }
/* line 239, ../scss/outernet/mixins/_forms.scss */
table form input[type="text"], table form input[type="numeric"], table form input[type="email"], table form input[type="file"], table form input[type="password"] {
  padding: 2px 7.5px 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: auto;
  max-width: 100%;
  font-size: 87.5%;
  line-height: 137.5%;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px; }
/* line 75, ../scss/outernet/mixins/_forms.scss */
table form input[type="text"]:focus, table form input[type="numeric"]:focus, table form input[type="email"]:focus, table form input[type="file"]:focus, table form input[type="password"]:focus {
  font-size: 87.5%;
  line-height: 137.5%; }
/* line 178, ../scss/outernet/mixins/_forms.scss */
table form input[type="text"], table form input[type="numeric"], table form input[type="email"], table form input[type="file"], table form input[type="password"] {
  width: 100px; }
/* line 251, ../scss/outernet/mixins/_forms.scss */
table form button {
  padding: 0.2em 20px;
  width: auto;
  min-width: 0;
  font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  font-size: 16px;
  line-height: 137.5%;
  font-size: 87.5%;
  line-height: 137.5%;
  line-height: 100%; }

/**
 * _progress.scss: progress widget styling
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _colors.scss: color definitions
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 15, ../scss/outernet/widgets/_progress.scss */
.progress {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px; }
/* line 22, ../scss/outernet/widgets/_progress.scss */
.progress span {
  display: inline-block; }
/* line 26, ../scss/outernet/widgets/_progress.scss */
.progress .label, .progress .value {
  font-size: 125%;
  line-height: 130%; }
/* line 30, ../scss/outernet/widgets/_progress.scss */
.progress .label {
  float: left; }
/* line 34, ../scss/outernet/widgets/_progress.scss */
.progress .value {
  float: right; }
/* line 38, ../scss/outernet/widgets/_progress.scss */
.progress .indicator {
  position: relative;
  clear: both;
  height: 5px;
  background: #dddddd;
  width: 100%; }
/* line 45, ../scss/outernet/widgets/_progress.scss */
.progress .indicator .bar {
  position: absolute;
  height: 5px;
  left: 0;
  top: 0;
  background: #058120;
  -moz-transition: width 300ms;
  -o-transition: width 300ms;
  -webkit-transition: width 300ms;
  transition: width 300ms; }
/* line 55, ../scss/outernet/widgets/_progress.scss */
.progress.low .bar {
  background: #e17502; }

/**
 * _accordion.scss: accordion widget styling
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _colors.scss: color definitions
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _hyperlinks.scss: link styling
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _colors.scss: color definitions
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _sprites.scss: sprite images with high-dpi display support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _hdpi_images.scss: helpers for high-dpi display support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _menu.scss: menubar and hamburger menu
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _icons.scss: simple icon widget
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _sprites.scss: sprite images with high-dpi display support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _hdpi_images.scss: helpers for high-dpi display support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _media_query.scss: media query support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 28, ../scss/outernet/widgets/_menu.scss */
.menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #dddddd;
  height: 60px;
  padding: 0 20px;
  background: #333333;
  color: #eeeeee; }
/* line 40, ../scss/outernet/widgets/_menu.scss */
.menu a {
  color: #888888; }
/* line 43, ../scss/outernet/widgets/_menu.scss */
.menu a:hover {
  color: #ffffff;
  text-decoration: none; }
/* line 48, ../scss/outernet/widgets/_menu.scss */
.menu a:visited {
  color: #888888; }
/* line 52, ../scss/outernet/widgets/_menu.scss */
.menu a:focus {
  color: #3584cf; }
/* line 57, ../scss/outernet/widgets/_menu.scss */
.menu.reverse {
  background: #ffffff;
  color: #bbbbbb; }
/* line 61, ../scss/outernet/widgets/_menu.scss */
.menu.reverse a {
  color: #555555; }
/* line 18, ../scss/outernet/widgets/_menu.scss */
.menu.reverse a:hover, .menu.reverse a:focus {
  color: #3584cf; }
/* line 23, ../scss/outernet/widgets/_menu.scss */
.menu.reverse a:visited {
  color: #555555; }
/* line 66, ../scss/outernet/widgets/_menu.scss */
.menu .menu-block-right {
  position: absolute;
  right: 0;
  top: 0; }
/* line 72, ../scss/outernet/widgets/_menu.scss */
.menu .menu-subblock {
  display: inline-block;
  padding-top: 18px;
  margin-right: 2em;
  vertical-align: top; }
/* line 78, ../scss/outernet/widgets/_menu.scss */
.menu .menu-subblock:last-child {
  margin-right: 0; }
@media only screen and (max-width: 640px) {
  /* line 72, ../scss/outernet/widgets/_menu.scss */
  .menu .menu-subblock {
    margin-right: 0.5em; } }
/* line 88, ../scss/outernet/widgets/_menu.scss */
.menu #nav a {
  font-size: 18px;
  margin-right: 2em; }
/* line 92, ../scss/outernet/widgets/_menu.scss */
.menu #nav a:last-child {
  margin-right: 0; }
/* line 96, ../scss/outernet/widgets/_menu.scss */
.menu #nav a .phone-only {
  display: none; }
@media only screen and (max-width: 640px) {
  /* line 96, ../scss/outernet/widgets/_menu.scss */
  .menu #nav a .phone-only {
    display: inline-block; } }
@media only screen and (max-width: 640px) {
  /* line 87, ../scss/outernet/widgets/_menu.scss */
  .menu #nav {
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    background: #ffffff;
    padding: 0 20px;
    border-bottom: 2px solid #dddddd;
    margin-right: 0;
    max-height: 0;
    overflow: hidden;
    height: 100%;
    -moz-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s; }
  /* line 119, ../scss/outernet/widgets/_menu.scss */
  .menu #nav.open {
    max-height: 2000px;
    overflow-y: scroll; }
  /* line 124, ../scss/outernet/widgets/_menu.scss */
  .menu #nav a {
    display: block;
    color: #555555;
    line-height: 60px;
    border-bottom: 1px solid #dddddd;
    color: #555555;
    margin: 0; }
  /* line 18, ../scss/outernet/widgets/_menu.scss */
  .menu #nav a:hover, .menu #nav a:focus {
    color: #3584cf; }
  /* line 23, ../scss/outernet/widgets/_menu.scss */
  .menu #nav a:visited {
    color: #555555; }
  /* line 132, ../scss/outernet/widgets/_menu.scss */
  .menu #nav a:last-child {
    border-bottom: none; } }
/* line 139, ../scss/outernet/widgets/_menu.scss */
.menu .hamburger {
  width: 60px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  position: relative;
  vertical-align: top;
  display: none; }
@media only screen and (max-width: 640px) {
  /* line 139, ../scss/outernet/widgets/_menu.scss */
  .menu .hamburger {
    display: inline-block; } }
/* line 152, ../scss/outernet/widgets/_menu.scss */
.menu .hamburger a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../img/icons/1x/hamburger.png?1434031134'); }
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-resolution: 120dpi), only screen and (min-resolution: 1.3dppx) {
  /* line 152, ../scss/outernet/widgets/_menu.scss */
  .menu .hamburger a {
    background-image: url('../img/icons/2x/hamburger.png?1434031134');
    -moz-background-size: 25px, 25px;
    -o-background-size: 25px, 25px;
    -webkit-background-size: 25px, 25px;
    background-size: 25px, 25px; } }

/**
 * _icons.scss: simple icon widget
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _fonts.scss: typography definitions
 * 
 * Copyright 2015, Outernet Inc.
 * Some rights reserved.
 * 
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _sprites.scss: sprite images with high-dpi display support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _hdpi_images.scss: helpers for high-dpi display support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _media_query.scss: media query support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 4, ../scss/partials/_mainmenu.scss */
header.menu .dropdown.languages {
  display: inline-block;
  position: relative; }
/* line 3, ../scss/partials/_dropdown.scss */
header.menu .dropdown.languages .down-arrow {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: inline-block;
  vertical-align: middle;
  background-image: url('../img/icons/1x/dropdown_open_disabled.png?1434031134');
  width: 25px;
  height: 25px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-resolution: 120dpi), only screen and (min-resolution: 1.3dppx) {
  /* line 3, ../scss/partials/_dropdown.scss */
  header.menu .dropdown.languages .down-arrow {
    background-image: url('../img/icons/2x/dropdown_open_disabled.png?1434031134');
    -moz-background-size: 25px, 25px;
    -o-background-size: 25px, 25px;
    -webkit-background-size: 25px, 25px;
    background-size: 25px, 25px; } }
/* line 11, ../scss/partials/_dropdown.scss */
header.menu .dropdown.languages .dropdown-body {
  display: none;
  position: absolute;
  background-color: #fafafa;
  border: 1px solid #dddddd;
  overflow: hidden;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px; }
/* line 19, ../scss/partials/_dropdown.scss */
header.menu .dropdown.languages .dropdown-body > li:hover {
  background-color: #f7dcc1; }
/* line 7, ../scss/partials/_mainmenu.scss */
header.menu .dropdown.languages .dropdown-item {
  white-space: nowrap; }
/* line 10, ../scss/partials/_mainmenu.scss */
header.menu .dropdown.languages .dropdown-item .language {
  padding: 10px 20px 10px 20px;
  text-align: center;
  display: block; }
/* line 15, ../scss/partials/_mainmenu.scss */
header.menu .dropdown.languages .dropdown-item span.selected {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  background-image: url('../img/icons/1x/checkmark_active.png?1433442569');
  width: 13px;
  height: 11px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-resolution: 120dpi), only screen and (min-resolution: 1.3dppx) {
  /* line 15, ../scss/partials/_mainmenu.scss */
  header.menu .dropdown.languages .dropdown-item span.selected {
    background-image: url('../img/icons/2x/checkmark_active.png?1433442569');
    -moz-background-size: 13px, 11px;
    -o-background-size: 13px, 11px;
    -webkit-background-size: 13px, 11px;
    background-size: 13px, 11px; } }

/* line 10, ../scss/main.scss */
body {
  background: #ffffff; }

/* line 14, ../scss/main.scss */
.section, header {
  margin: 0 auto;
  background: #ffffff;
  margin-bottom: 16px; }
