/*
Error: File to import not found or unreadable: partials/search.
       Load paths:
         Compass::SpriteImporter
         D:/Code/librarian/scss
         C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets
        on line 37 of librarian/static/../../scss/screen.scss

32: @import "partials/downloads";
33: @import "partials/files";
34: @import "partials/apps";
35: 
36: // Details
37: @import "partials/search";
38: @import "partials/content_details";
39: @import "partials/tags";
40: 
41: // Dash subsections
42: // TODO: We need to move dash subsection code to individual plugins

Backtrace:
librarian/static/../../scss/screen.scss:37
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/import_node.rb:66:in `rescue in import'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/import_node.rb:45:in `import'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/import_node.rb:28:in `imported_file'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/import_node.rb:37:in `css_import?'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:79:in `with_base'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/engine.rb:268:in `render'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:328:in `block in watch'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/vendor/listen/lib/listen/listener.rb:252:in `call'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/vendor/listen/lib/listen/listener.rb:252:in `on_change'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.11/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: partials/search.\A        Load paths:\A          Compass::SpriteImporter\A          D:/Code/librarian/scss\A          C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets\A         on line 37 of librarian/static/../../scss/screen.scss\A \A 32: @import \"partials/downloads\";\A 33: @import \"partials/files\";\A 34: @import \"partials/apps\";\A 35: \A 36: // Details\A 37: @import \"partials/search\";\A 38: @import \"partials/content_details\";\A 39: @import \"partials/tags\";\A 40: \A 41: // Dash subsections\A 42: // TODO: We need to move dash subsection code to individual plugins"; }
