beautifulsoup4==4.4.1
bottle==0.12.9
bottle-fdsend==0.1.1
bottle-utils==1.0
chainable-validators==0.8.2
confloader==1.0
cssmin==0.2.0
# fsal
gevent==1.0.2
greenlet==0.4.9
greentasks==1.0
hwd==0.3
Mako==1.0.3
MarkupSafe==0.23
netifaces==0.10.4
# ondd-ipc==1.0
pbkdf2==1.3
psycogreen==1.0
psycopg2==2.6.1
pyhostapdconf==1.0
python-dateutil==2.4.2
pytz==2015.7
pyudev==0.18.1
scandir==1.2
setuptools==20.6.7
six==1.10.0
sqlize-pg==1.0
squery-pg==1.1
webassets==0.11.1
# zippie

# These packages are currently not online
git+https://github.com/integricho/zippie.git@f041f8de0428e230471762f39dedaa0b199c3fcb#egg=zippie==0.1.1
git+https://github.com/Outernet-Project/fsal.git@85dd3f07cfcf93ebfcf18c6a35bbf9fcc1e9791a#egg=fsal==1.0.dev1
git+https://github.com/Outernet-Project/ondd-ipc.git@5f809eadcaa7fa9aeb304ed9ae9caea699176751#egg=ondd_ipc==1.0
