.content-list.app {
  margin: 2em;
  position: relative;
  .app-item {
    margin: 1em;
    .app-info {
      display: inline-block;
      vertical-align: top;
    }
    .field {
      display: block;
    }
    &.thumbnails {
      .author, .download-date, .description {
        display: none;
      }
      .app-info {
        display: block;
      }
    }
  }
  .controls {
    position: absolute;
    top: 0;
    right: 0;
  }
}
