@import "outernet/mixins/sprites";

.content-list.app {
  margin: 2em;
  position: relative;
  .app-item {
    margin: 1em;
    .app-info {
      display: inline-block;
      vertical-align: top;
    }
    .field {
      display: block;
    }
    &.thumbnails {
      .author, .download-date, .description {
        display: none;
      }
      .app-info {
        display: block;
      }
    }
  }
  .controls {
    position: absolute;
    top: 0;
    right: 0;
    a {
      margin-left: 0.5em;
    }
  }
  .thumbnails-view {
    display: inline-block;
    @include with-hdpi(icons, icons, yes);
    &:hover {
      @include with-hdpi(icons, icons_hover, yes);
    }
  }
  .details-view {
    display: inline-block;
    @include with-hdpi(icons, list, yes);
    &:hover {
      @include with-hdpi(icons, list_hover, yes);
    }
  }
}
