@import "outernet/mixins/colors";

@mixin h-bar {
  background: $earth;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
}

.h-bar {
  padding: 20px;
  text-align: center;
  @include h-bar;
}

.h-top-bar {
  padding: 10px;
  text-align: right;
  @include h-bar; 
}

.tabbed-menu {
  padding: 0 20px;

  a, .active {
    display: inline-block;
    line-height: 58px;
    margin-right: 2em;
    border-bottom: 3px solid transparent;
  }

  a {
    &:visited {
      color: $sky;
    }

    &:hover {
      text-decoration: none;
      border-bottom-color: $sky25d;
    }
  }

  .active {
    color: $iconic;
    border-bottom-color: $iconic;
  }
}

form.inline {
  @include single-input-form;
  @include single-input-inline;
}


@mixin icon-link-button($icon, $hover-color: $sky25d) {
  background: transparent;
  @include icon-plain($icon);
  @include hide-text;
  padding-left: 40px;
  border: none;
  @include border-radius(0);
  min-width: 0;
  margin: 0;
  color: $sky;
  position: relative;

  &:hover {
    @include icon-plain(#{$icon}_hover);
    padding-left: 40px;
    text-indent: 0;
    overflow: visible;
    color: $hover-color;
    text-decoration: underline;
    background-color: transparent;
  }
}
