@mixin dropdown($icon) {
  position: relative;
  .down-arrow {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
    vertical-align: middle;
    @include with-hdpi(icons, $icon, $include-size: yes);
  }
  .dropdown-body {
    display: none;
    position: absolute;
    background-color: $input;
    border: 1px solid $border;
    overflow: hidden;
    @include border-radius(7px);
  }
  .dropdown-body > li:hover {
    background-color: $sun25;
  }
}
