@import "outernet/mixins/tables";
@import "outernet/mixins/media_query";

.file-list {
  table {
    @include table-col-width(1, 20px);
    @include table-col-width(3, 200px);
    @include table-col-width(4, 100px);
    @include table-col-width(5, 100px);

    td:nth-child(1) {
      padding-right: 0;
    }

    td:nth-child(2) {
      padding-left: 2px;
    }

    @include narrower-than(800px) {
      td:nth-child(1) {
        display: none;
      }

      td:nth-child(2) {
        @include heading-5;
      }

      td:nth-child(3),
      td:nth-child(4),
      td:nth-child(5),
      {
        display: inline-block;
      }
  
      tr {
        padding: 20px;
      }

      @include table-flat;
    }
  }
}
