$reader-data-height: 120px;

.reader-frame {
  position: fixed;
  top: 60px;
  bottom: $reader-data-height;
  left: 0;
  right: 0;
  background: $white;
  overflow: hidden;

  iframe {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.reader-meta {
  position: fixed;
  height: $reader-data-height - 1px;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid $border;
  background: $white;

  .attrib {
    @include sub;
  }

  .inner {
    padding: 10px 20px;
  }

  .tag-form {
    display: inline-block;
    margin-bottom: 1em;
  }

  .tags-help {
    display: inline;
    padding: 0;
  }

  .tags {
    display: inline-block;
  }
}
