$reader-data-height: 60px;

.reader-frame {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background: $white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  iframe {
    display: block;
    width: 100%;
    height: 100%;
  }
}
