@import "compass/css3";
@import "compass/typography/text/replacement";

@import "base/params";
@import "base/panels";
@import "elements/icons";

.o-contextbar {
  // Basic geometry
  @include split-panel($o-contextbar-menu-icon-width, $o-contextbar-height);

  .o-contextbar-menu {
    // Basic geometry
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // Styling
    text-decoration: none;
    color: $o-contextbar-text-color;

    // Alternative state
    &:hover,
    &:focus {
      // Styling
      background: $o-contextbar-menu-highlight-color;
      color: $o-contextbar-menu-highlight-text-color;

      // FX
      @include transition(background-color $o-animation-speed);
    }
  }

  .o-contextbar-menu-label {
    // FIXME: Conditionally hide the label

    // Remove
    display: none;
  }

  .o-contextbar-menu-icon {
    // Basic geometry
    position: relative;
    top: 1.1rem;
    width: 100%;
    text-align: center;

    // Styling
    text-align: center;
    font-size: $o-contextbar-menu-icon-size;

    // Icon
    @include icon(menu);

    // FX
    @include transition(color $o-animation-speed);
  }
}
