@import "compass/css3";
@import "base/params";

@include keyframes(blink) {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ondd-status-panel {
  table {
    width: 100%;
    td.value {
      text-align: right;
    }
  }
}
