@import "outernet/ui";
@import "outernet/mixins/media_query";
@import "partials/dropdown";
@import "partials/mainmenu";
@import "partials/common_elements";
@import "partials/footer";
@import "partials/content_list";
@import "partials/files";
@import "partials/dashboard";

$wide: 976px;
$medium: 728px;
$narrow: 560px;

body {
  padding-top: 60px;
  background: $white;
}
