@import "compass/typography";
@import "outernet/ui";
@import "outernet/mixins/media_query";
@import "partials/common_elements";
@import "partials/footer";
@import "dashboard/ondd";

body.initial {
  padding-top: 0;

  .menu {
    display: none;
  }
}

.menu {
  .logo {
    @include hide-text;
    @include misc-icon('logo_menu', yes);  
  }

  .steps {
    margin-right: 20px;

    .label {
      @include phone-portrait-wide {
        display: none;
      }
    }
  }
}

.outernet-logo {
  @include hide-text;
  @include app-icon('logo_setup');
  margin-top: 20px;
  margin-bottom: 8px;
}

.wizard-steps {
  text-align: center;
  color: $iconic;
}

.buttons {
  a.button,
  button 
  {
    margin-bottom: 0.5em;
  }
}

.timezone-container {
  select:nth-child(2),
  select:nth-child(3) 
  {
    max-width: 48%;
    margin-right: 0.2em;

    @include phone-portrait-wide {
      max-width: 100%;
      margin-bottom: 0.2em;
    }
  }
}

.steps {
  display: inline-block;

  span {
    display: inline-block;
  }

  .step {
    @include icon(step_next);
  }

  .previous {
    @include icon(step_done);
  }

  .current {
    @include icon(step_active);
  }
}

.h-bar {
  position: relative;

  .step-logo {
    display: block;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  @each $step-name in (language, datetime, superuser, ondd) {
    .step-#{$step-name} {
      @include app-icon(step_#{$step_name});
    }
  }

  padding-bottom: 50px;
}

.large {
  padding-left: $form-text-offset;
  color: $border;
  font-size: 200%;
  line-height: 120%;
}

.note {
  .label {
    @include label;

    &.inline {
      display: inline-block;
    }
  }
  
  .large {
    color: $sky25d;
  }
}
