@import "outernet/mixins/grid";
@import "outernet/mixins/media_query";

.space {
  color: $sub;
}

.downloads-list {
  @include single-cell-grid;

  li {
    margin-bottom: 2em;
  }

  .do {
    margin-left: 10px;
    @include sub;
    color: $sub;
    margin-bottom: 0.5em;

    &:last-of-type {
      margin-bottom: 1em;
    }
  }

  .label {
    @include bold;
  }

  form {
    margin-bottom: 1em;
  }
}

.bottom-pager {
  text-align: center;
  padding: 2em 20px;
}
