@import "compass/css3/transition";
@import "outernet/mixins/colors";
@import "outernet/mixins/media_query";
@import "outernet/mixins/sprites";
@import "mixins/browser_fixes";

$sidebar-width: 247px;
$sidebar-handle-width: 35px;
$sidebar-animation-interval: 0.3s;

@mixin entity-icon {
  font-size: 3em;
  font-weight: bold;
  text-decoration: none;
  line-height: 1em;
}

.reader-frame {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: $sidebar-handle-width + 1px;
  background: $white;
  @include transition(right $sidebar-animation-interval);

  &.reduced {
    right: $sidebar-width + 1px;
  }
  @include ios-iframe-fix;

  iframe {
    display: block;
    width: 100%;
    height: 100%;
  }
  .mejs-container button {
    min-width: auto;
  }
}

.reader {
  &.generic {
    .single-download {
      margin: 1em;
      width: 100%;
      height: 100%;
      text-align: center;
      .download-button {
        display: inline-block;
        @include with-hdpi(icons, loader_download_hover, yes);
      }
    }
    .download-list {
      margin: 1em;
      .file-info {
        display: inline-block;
        vertical-align: middle;
        .filename {
          display: inline-block;
          width: 350px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          vertical-align: middle;
        }
      }
      .download-link {
        display: inline-block;
        @include with-hdpi(icons, loader_download_hover, yes);
      }
    }
  }
  &.audio {
    .player {
      margin: 1em;
      .playlist {
        margin-top: 1em;
        display: inline-block;
        background: black;
        padding: 10px;
        li {
          margin: 0.5em 0;
        }
        .track-info {
          width: 345px;
          display: inline-block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          vertical-align: middle;
          color: $iconic;
        }
        .play {
          @include with-hdpi(icons, play_item, yes);
          display: inline-block;
          vertical-align: middle;
          &:hover {
            @include with-hdpi(icons, play_item_hover, yes);
          }
        }
      }
    }
  }
  &.image {
    .album-item {
      float: left;
      margin: 25px;
      @include narrower-than(320px) {
        margin: 0;
      }
      a {
        width: 200px;
        height: 200px;
        max-width: 200px;
        max-height: 200px;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        text-align: center;
        .thumbnail {
          height: auto;
          max-width: 100%;
          vertical-align: middle;
        }
        .title {
          position: absolute;
          bottom: -40px;
          left: 0;
          width: 100%;
          text-align: center;
        }
      }
    }

    .top-controls {
      margin: 1em;
      position: absolute;
      .back {
        display: inline-block;
        @include with-hdpi(icons, back, yes);
        &:hover {
          @include with-hdpi(icons, back_hover, yes);
        }
      }
    }

    .image-viewer {
      height: 100%;
      width: 100%;
      display: table;
      .cell {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
      .image-container {
        vertical-align: middle;
        width: 70%;
        img {
          max-width: 100%;
        }
      }
      .previous {
        display: inline-block;
        @include with-hdpi(icons, prev, yes);
        &:hover {
          @include with-hdpi(icons, prev_hover, yes);
        }
      }
      .next {
        display: inline-block;
        @include with-hdpi(icons, next, yes);
        &:hover {
          @include with-hdpi(icons, next_hover, yes);
        }
      }
    }
  }
}

.reader-meta {
  position: fixed;
  top: 60px;
  bottom: 0;
  right: $sidebar-handle-width - $sidebar-width;
  background: $border;
  @include transition(right $sidebar-animation-interval);
  width: $sidebar-width;
  .inner {
    position: relative;
    height: 100%;
    .meta-container {
      position: absolute;
      left: 35px;
      bottom: 0;
      top: 0;
      right: 0;
      padding: 20px;
      .tag-editor {
        .field-help {
          padding-left: 0;
        }
      }
      .attrib {
        position: absolute;
        bottom: 20px;
        margin-bottom: 0px;
        right: 20px;
        left: 20px;
      }
    }
    .toggle {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background: $earth;
      .icon {
        display: inline-block;
        margin: 20px 5px;
        cursor: pointer;
        @include icon(accordion_open, yes);
        &:hover {
          @include icon(accordion_open_hover, yes);
        }
      }
    }
  }
  &.expanded {
    right: 0;
    .toggle {
      .icon {
        @include icon(accordion_close, yes);
        &:hover {
          @include icon(accordion_close_hover, yes);
        }
      }
    }
  }
  @include narrower-than(640px) {
    &.expanded {
      width: 100%;
    }
  }
}
